.form{
   background-image: url(images/contact-form.png);
   color:white;
   background-color: #6070ff;
   border-top-left-radius: 8rem;
   font-family: "poppins" , sans-serif;
   line-height: 20px;

}